.div1 h1{
    font:1rem 'Fira Sans', sans-serif;
}
.div1 label{
    font:1rem 'Fira Sans', sans-serif;
}
.div1 button{
    border-radius: 7px;
    background-color: white;
    font:1rem 'Fira Sans', sans-serif;
    margin: 5px;

}
.div1 p{
    font:1rem 'Fira Sans', sans-serif;

}
base{
    background-color: gray;
}
.div1{
    flex-direction: column;
    display: flex;
    text-align: center;
}
.div1 input{
    margin:3px;

}